<h1>Campgrounds</h1>

<% campgrounds.forEach(function(campground){ %>
    <div> 
        <h4> <%= campground.name %> </h4>
        <img src="<%= campground.image %>" width="300" height="300">
    </div> 
<% }); %>